@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Jua&family=Montserrat:wght@500&display=swap');

html, body {
    background-color: #E7F7EC;
    font-family: 'Jua', 'Avenir', 'Gotham', 'Gill Sans', sans-serif;
    color: #305252;
    margin: 0;
    padding: 0;
}


/* LUCKY LISTS TITLE */
.lucky-lists {
    color: #305252;
    font-size: 75px;
    text-align: center;
    text-decoration: none;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.icon {
    display: flex; 
    margin-top: 3%;
    margin-left: auto; 
    margin-right: auto; 
    width: 7%;
} /* code adapted from w3 schools' style image example */


/* COLUMN - NEW & LOAD BUTTONS */
.center-div {
    display: flex;
    flex-direction: column; 
    height: 250px;
    place-items: center;
} /* code adapted from flex cheatsheet (https://yoksel.github.io/flex-cheatsheet/#section-flex-direction) */


/* BUTTON APPEARANCES */
.button {
    background-color: #A2C5AC;
	border-radius: 50px;
    color: #191B1A;
	font-size: 30px; 
    font-weight: bold;
	padding: 20px 35px;
    text-align: center;
    width: 125px;
    margin: 15px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #305252;
    color: #E7F7EC;
} /* code adapted from w3 schools hoverable buttons */

#new-button {
    margin-top: 50px;
} 