@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Jua&family=Montserrat:wght@500&display=swap');

html, body {
    background-color: #E7F7EC;
    font-family: 'Jua', 'Avenir', 'Gotham', 'Gill Sans', sans-serif;
    color: #305234;
    margin: 0;
    padding: 0;
}


/* LUCKY LISTS TITLE */
.lucky-lists {
    color: #305234;
    font-size: 75px;
    text-align: center;
    text-decoration: none;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.icon {
    display: flex; 
    margin-top: 3%;
    margin-left: auto; 
    margin-right: auto; 
    width: 8%;
} /* code adapted from w3 schools' style image example */


/* NAV BAR (LISTS AND ITEMS) */
nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  ul {
    display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 3%;
  }
  
  li {
    margin: 0 35px; 
  }
  
  a {
    text-decoration: none; 
    color: #191B1A; 
}  


/* NAV BAR - ITEMS BUTTON */
#items {
    background-color: #A2C5AC;
    border-radius: 50px;
	font-size: 25px; 
	padding: 10px 25px;
    text-align: center;
    width: 125px;
    margin: 15px;
    text-decoration: none;
    transition-duration: 0.4s;

    display: inline;
    justify-content: center;
}

#items:hover {
    background-color: #305252;
    color: #E7F7EC;
} /* code adapted from w3 schools hoverable buttons */


/* NAV BAR - LISTS BUTTON */
#lists {
    border-radius: 50px;
	font-size: 25px; 
	padding: 10px 25px;
    text-align: center;
    width: 125px;
    margin: 15px;
    text-decoration: none;
    transition-duration: 0.4s;

    display: inline;
    justify-content: center;
}

#lists:hover {
    background-color: #305252;
    color: #E7F7EC;
} /* code adapted from w3 schools hoverable buttons */


/* MISC ITEMS */
div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 0.75%;
}

.creation-icon {
    width: 100px;
    margin-right: 20px;
} 

.item {
    color: #191B1A;
    background-color: white;
    padding: 60px 50px;
    text-align: center;
    border-radius: 10%;
    margin-right: 20px;
    margin-left: 20px;
}

#done {
    background-color: lightgray;
}